*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    position: relative;
    z-index: 2;
    text-align: center;
}
h2,span{
    margin-top: 40vh;
    color: rgb(244, 50, 50);
    font-size: 75px;
    text-align: center;
}
.none{
    display: none;
}

.for-filter{
    top: 0;
    width: 100%;
    height: 100vh;
    /* filter: blur(100px); */
    background-image: url(./img/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
  
}